@import '../../../../../scss/abstracts/var';
@import '../../../../../scss/abstracts/extends';

$pic-size: 36px;
$name-margin: 16px;

:host {
    width: 100%;
    max-width: 100%;
}

a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    cursor: pointer;

    > spp-user-pic {
        width: $pic-size;
        height: $pic-size;
    }

    > span {
        @extend %text-ellipsis;
        color: $blue;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        font-size: 14px;
        max-width: calc(100% - #{$pic-size + $name-margin});
        margin-left: $name-margin;
    }
}
