@import 'abstracts/var';
@import 'abstracts/extends';

:host {
    max-width: 100%;

    > a {
        display: flex;
        color: $blue;
        align-items: center;

        > span {
            @extend %text-ellipsis;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin-left: 16px;
            text-transform: uppercase;
        }
    }
}
