:host {
    display: block;
    width: 100%;
}

.spp-page-layout {
    &__wrap {
        display: flex;
        justify-content: center;
        padding: 40px 72px;
    }

    &__content {
        max-width: 992px;
        width: 100%;
    }
}
