/* Typography */
$default-font: 'Quicksand';

/* Colors */
$white: #fff;
$dark-grey: #313131;
$grey: transparentize($dark-grey, 0.27);
$blue: #27AAF0;

/* Shadows */
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
