<article>
    <aside>
        <img [src]='article.image' alt='Article picture'>
    </aside>
    <main>
        <div class='article-card__content'>
            <header>
                <article-tags [tags]='article.articleTags' limit='2'></article-tags>
            </header>
            <section>
                <a><h3>{{ article.title }}</h3></a>
                <br>
                <p>{{ article.description }}</p>
            </section>
            <footer>
                <section>
                    <article-author [author]='article.articleAuthor' [compact]='true'></article-author>
                </section>
                <section>
                    <div class='spp-bordered-sections__wrapper'>
                        <div class='spp-bordered-section'>
                            <article-likes [liked]='liked'
                                           [likes]='likesCount'
                                           (toggle)='toggleLike()'
                            ></article-likes>
                        </div>
                        <div class='spp-bordered-section'>
                            <article-favs [fav]='favorite'
                                          [favs]='favsCount'
                                          (toggle)='toggleFav()'
                            ></article-favs>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
    </main>
</article>
