:host {
    display: block;
    padding: 20px;

    > section {
        margin-bottom: 40px;
    }
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h3 {
    font-size: 1.17em;
    margin: .83em 0;
}

article {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;

    > section {
        padding: 20px;
    }
}

div {
    margin-bottom: 20px;
}

.edit-profile {
    &__user-wrapper {
        position: relative;
        width: 96px;
        height: 96px;
        margin: 0;

        > button {
            position: absolute;
            bottom: -5px;
            right: -5px;
        }
    }
}

.feed-item {
    margin-bottom: 40px;
}

.comment {
    &-editor,
    &-card {
        margin-bottom: 24px;
    }
}
