@import '../../../../../scss/abstracts/var';
@import '../../../../../scss/abstracts/extends';

$compact-pic-size: 40px;
$compact-name-margin: 8px;

$pic-size: 48px;
$name-margin: 12px;

:host {
    width: 100%;
    max-width: 100%;

    &.compact {
        a {
            > spp-user-pic {
                width: $compact-pic-size;
                height: $compact-pic-size;
            }

            > span {
                font-size: 14px;
                margin-left: $compact-name-margin;
                max-width: calc(100% - #{$compact-pic-size + $compact-name-margin});
            }
        }
    }
}

a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    cursor: pointer;

    > spp-user-pic {
        width: $pic-size;
        height: $pic-size;
    }

    > span {
        @extend %text-ellipsis;
        color: $dark-grey;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        font-size: 16px;
        max-width: calc(100% - #{$pic-size + $name-margin});
        margin-left: $name-margin;
    }
}
