:host {
    display: block;
    width: 100%;
    height: fit-content;
}

$gutter-width: 40px;

.article-cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -($gutter-width / 2);
}

.article-card {
    max-width: calc(50% - #{$gutter-width});
    margin: $gutter-width / 2;
}
