@import '../../../scss/abstracts/var';

$default-size: 24px;

:host {
    display: inline-block;
    width: $default-size;
    height: $default-size;

    &.grey {
        fill: $grey;
    }

    svg {
        display: inline-block;
        width: inherit;
        height: inherit;
        color: inherit;
    }
}
