@import 'abstracts/var';

.articles-feed {
    &__paginator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        > button {
            max-width: 300px;

            spp-icon {
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }
        }
    }
}
