@import 'abstracts/var';
@import 'abstracts/extends';

.articles-feed {
    &__paginator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        > button {
            max-width: 300px;

            spp-icon {
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.user-list-item {
    display: flex;
    align-items: center;
    min-width: 0;

    &__name {
        @extend %text-ellipsis;
        margin-left: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: $dark-grey;
    }
}
