<form class='sign-in__form' (submit)='onSubmit()'>
    <h2>Sign In</h2>
    <mat-form-field appearance='fill' class='sign-in__form-field'>
        <mat-label>Email</mat-label>
        <div matPrefix class='input-icon'>
            <spp-icon class='grey' icon='user'></spp-icon>
        </div>
        <input type='email' name='email' matInput [ngModel]='email' (ngModelChange)='onEmailChange($event)'>
        <mat-hint>Your registration email</mat-hint>
    </mat-form-field>
    <mat-form-field appearance='fill' class='sign-in__form-field'>
        <mat-label>Password</mat-label>
        <div matPrefix class='input-icon'>
            <spp-icon class='grey' icon='key'></spp-icon>
        </div>
        <input type='password' name='password' matInput [(ngModel)]='password'>
        <mat-hint>Your password</mat-hint>
    </mat-form-field>
    <button spp-button class='filled' [disabled]='!email || !emailValid || !password'>
        <div class='input-icon'>
            <spp-icon icon='log-in'></spp-icon>
        </div>
        <span>Sign in</span>
    </button>
</form>

