@import 'abstracts/var';

:host {
    padding: 0 15px;

    > a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;

        spp-icon {
            fill: $grey;
        }

        &.active {
            background-color: $blue;

            spp-icon {
                fill: $white;
            }
        }

        &:not(.active) {
            &:hover {
                background-color: transparentize($dark-grey, 0.9);
            }
        }
    }
}
