@import 'abstracts/var';

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.contents-layout__container {
    margin-left: 240px;
    background-color: $light-grey;
    min-height: 100%;
}
